

/* @font-face */

@font-face{
    font-family: "Lato";
    src:'../fonts/Lato/Lato-Regular.tff';
}

@font-face{
    font-family: "Typograph";
    src:'../fonts/Typograph/TYPOGRAPH-PRO-Extra Bold.tff';
}