

/* @font-face */

@font-face{
    font-family: "Lato";
    src:url(/fonts/Lato/Lato-Regular.ttf)
}

@font-face{
    font-family: "LatoLight";
    src:url(/fonts/Lato/Lato-Light.ttf)
}

@font-face{
    font-family: "Typograph";
    src:url(/fonts/Typograph/TYPOGRAPH-PRO-Extra-Bold.ttf)
}