/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header .menu .navbar,
    .header .menu .navbar .navbar-brand
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 30px;
    }
    .site-main .site-banner .site-title h2{
        font-size: 20px;
    }
    .site-main .site-banner .site-title h3{
        font-size: 20px;
    }
    
}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .about-area .para{
        font-size: 16px;
    }
    .social-icons{
        padding-right: 50%;
    }


    .site-main .project-area .button-group button{
        font: bold 500 18px/40px var(--Lato);
        
    }

    .site-main .project-area .button-group button + button{
        padding-left: 1rem;
    }

    .site-main .project-area h1{
        font-size: 30px;
    }


}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header .menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    
    .site-main .about-area{
        padding: 3% 4%;
    }


}