/* css variables */
@import url(./partials/_variables.css);

/* fonts from fonts file */
@import url(./fonts.css);

/*global styling*/
@import url(./partials/_global.css);

/* nav start */
.header .menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}
.header .menu .navbar{
    padding: 1rem 3rem;
}
.header .menu .nav-item .nav-link{
    font-family: var(--Lato);
    text-transform: capitalize;
    font-weight: 500;
    padding: 1.7rem;
    color:black;
}

.header .menu .navbar .active a{
    background: var(--grey-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .menu .navbar a:hover{
    background: var(--grey-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* nav end */

/* banner area start */
.site-main .site-banner{
    background: url(/images/bg.png)no-repeat;
    background-position:0% 50%;
}

.site-main .site-banner .site-title h1{
    padding-top: 25%;
    font-weight: 500%;
}
.site-main .site-banner .site-title h2{
    padding-top: 5%;
    font-weight: 500%;
    font: normal 30px/ 30px var(--Lato);
}

.site-main .site-banner .site-title h3{
    font: normal 30px/ 30px var(--Lato);
}

/* banner area end */

/*start about area*/

.site-main .about-area{
    padding: 2rem 11rem;
    background: url(/images/bg2.png)no-repeat;
    background-position:5% 48%;
    
}

.site-main .about-area h2{
    font-size: 40px;
}
/*end about area*/

/*start project area*/
.project-area h1{
    font-size: 40px;  
}

.video-1{
    width:100%;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--Lato);
    
}

.site-main .project-area {
    font-family: var(--Lato)    
}


.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* vid */
/**
 * Simple fade transition,
 */
 .mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
/*end project area*/

