

/* fonts from fonts file */
@import url(./fonts.css);

/* nav start */
.header. menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}
.header .menu .navbar{
    padding: 1rem 20rem;
}
.header .menu .nav-item .nav-link{
    font-family: "Lato", cursive;
    text-transform: capitalize;
    font-weight: 500;
    padding: 1.7rem;
    color:black;
}
/* nav end */